header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    box-shadow: 1px 0 4px rgba($color: #000000, $alpha: 0.3);
    position: sticky;
    top: 0;
    background-color: $sb-white;
    z-index: 999;   // Lo mandamos arriba del todo


    & img {
        width: 55px;
    }

    & .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-right: 6rem;

        & h1 {
            font-family: $font-title;
            color: $sb-black;
            font-size: 22px;
            font-weight: 600;
            letter-spacing: 2px;
            padding: 0;
            margin: 0;
        }

        & span {
            font-family: $font-title;
            font-size: 16px;
            font-weight: 300;
            color: rgba($color: #000000, $alpha: 0.4);

        }
    }

}