@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "_variables.scss";
@import "_header.scss";

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-base;
}

main {
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: rgba($color: #d3d3d3, $alpha: 0.2);

    & .left {
        display: flex;
        flex-shrink: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url("assets/starbucks_rewards.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        min-width: 40%;
        width: auto;

    }

    & .right {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        overflow-y: auto;
        width: 100%;

        & .banner {
            width: auto;


            & img {
                width: 100%;
                height: auto;
                object-fit: contain; // Imagen no corta ni deforma

            }
        }

        & .form-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            // width: 100%;
            margin: 3rem 0;

            & form {
                padding: 20px;
                box-shadow: 0 0 2px 1px rgba($color: #000000, $alpha: 0.2);
                min-width: 400px;
                margin: 20px;

                & label {
                    font-family: $font-sodo;
                    font-size: 20px;
                    font-weight: 350;
                    padding: 0;
                    margin: 0;
                    // letter-spacing: -1px;
                }

                & .sub {
                    font-size: 12px;
                    color: rgba($color: #000000, $alpha: 0.5);
                    padding: 0;
                    margin: 0;
                }

                & input {
                    margin: 1rem 0;
                    padding: 0.5rem 0.8rem;
                    // min-width: 80%;
                    font-size: 16px;
                    background-color: transparent;
                    color: $sb-green;
                    font-family: $font-base;
                    border: 1px solid $sb-green;
                    border-radius: 25px;
                    text-align: center;
                    transition: 150ms ease-in;

                    &:hover {
                        background-color: rgba($color: $sb-green, $alpha: 0.1);
                    }

                    &:focus {
                        outline: none;
                    }
                }

                & button {
                    font-size: 13px;
                    font-family: $font-base;
                    color: $sb-green;
                    font-weight: 700;
                    padding: 0.4rem 1.2rem;
                    border: 1px solid $sb-green;
                    border-radius: 25px;
                    min-width: 120px;
                    cursor: pointer;

                    &:hover {
                        background-color: rgba($color: $sb-green, $alpha: 0.1);
                    }
                }

                & .descripText {
                    height: 100px;
                    border: 1px solid $sb-green;
                    border-radius: 10px;
                    padding: 5px 5px 5px 10px;
                    color: rgba($color: #000000, $alpha: 0.7);
                    font-size: 14px;
                    word-break: break-all;
                    line-break: loose;
                    resize: none;
                    max-width: 384px;

                    &:focus {
                        outline: none;

                    }
                }

                .carga-doc {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: rgba($color: $sb-green, $alpha: 0.1);
                    width: 120px;
                    height: 120px;
                    border: 1px dotted $sb-green;
                    border-radius: 6px;
                    place-self: center;
                    margin: 1rem 0;
                    cursor: pointer;

                    & i {
                        color: $sb-green;
                    }
                }

            }
        }

        & .cards-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            margin: 2rem 0;

            & .card-container {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                & .card-row {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    margin: 0 3rem;

                    & img {
                        width: 325px;
                        width: 50%;
                    }

                    & .card-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        width: 50%;
                        padding: 40px;

                        & h3 {
                            font-family: $font-sodo;
                            font-weight: 800;
                            line-height: 2.7rem;
                            font-size: 24px;
                            color: #1f1f1f;
                        }

                        & h4 {
                            font-family: $font-base;
                            font-weight: 500;
                            font-size: 20px;
                        }

                        & .lesser {
                            margin: 20px 0;
                            color: #6c6c6c;
                            font-size: 14px;
                        }
                    }
                }


            }

            & .card-container-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;

                & .card-col {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 40%;
                    margin: 1rem;

                    & img {
                        // // width: 325px;
                        width: 100%;
                    }

                    & .card-content {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        // width: 50%;
                        padding: 40px;

                        & h3 {
                            font-family: $font-sodo;
                            font-weight: 800;
                            // line-height: 2.7rem;
                            font-size: 24px;
                            color: #1f1f1f;
                        }

                        & h4 {
                            font-family: $font-base;
                            font-weight: 500;
                            font-size: 20px;
                        }

                        & .lesser {
                            margin: 20px 0;
                            color: #6c6c6c;
                            font-size: 14px;
                        }
                    }
                }


            }
        }
    }
}




.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-start;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.myButton1 {
    font-size: 13px;
    font-family: $font-base;
    color: $sb-green;
    font-weight: 700;
    padding: 0.4rem 1.2rem;
    border: 1px solid $sb-green;
    border-radius: 25px;
    min-width: 120px;
    cursor: pointer;

    &:hover {
        background-color: rgba($color: $sb-green, $alpha: 0.1);
    }
}

.ipt-rojo {
    border: 1px solid red;
}

.hidden {
    display: none;
}

@import "_footer.scss";