@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 999;
}
header .left {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .left img {
  width: 55px;
}
header .left nav {
  display: flex;
  height: 100%;
  gap: 20px;
}
header .left nav a {
  text-decoration: none;
  font-family: "Kanit", serif;
  color: #000000;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  transition: 150ms ease-in;
  -webkit-transition: 150ms ease-in;
  -moz-transition: 150ms ease-in;
}
header .left nav a:hover {
  color: #006241;
}
header .right {
  display: flex;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
header .right h1 {
  font-family: "Kanit", serif;
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 0;
  margin: 0;
}
header .right span {
  font-family: "Kanit", serif;
  font-size: 16px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.4);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", serif;
}

main {
  display: flex;
  width: 100%;
  height: 100vh;
  background-color: rgba(211, 211, 211, 0.2);
}
main .left {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("assets/starbucks_rewards.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  min-width: 40%;
  width: auto;
}
main .right {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  width: 100%;
}
main .right .banner {
  width: auto;
}
main .right .banner img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
main .right .form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
}
main .right .form-wrapper form {
  padding: 20px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
  width: 100%;
  margin: 20px;
}
main .right .form-wrapper form label {
  font-family: "Noto Sans", serif;
  font-size: 20px;
  font-weight: 350;
  padding: 0;
  margin: 0;
}
main .right .form-wrapper form .sub {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}
main .right .form-wrapper form input {
  margin: 1rem 0;
  padding: 0.5rem 0.8rem;
  font-size: 16px;
  background-color: transparent;
  color: #006241;
  font-family: "Open Sans", serif;
  border: 1px solid #006241;
  border-radius: 25px;
  text-align: center;
  transition: 150ms ease-in;
}
main .right .form-wrapper form input:hover {
  background-color: rgba(0, 98, 65, 0.1);
}
main .right .form-wrapper form input:focus {
  outline: none;
}
main .right .form-wrapper form button {
  font-size: 13px;
  font-family: "Open Sans", serif;
  color: #006241;
  font-weight: 700;
  padding: 0.4rem 1.2rem;
  border: 1px solid #006241;
  border-radius: 25px;
  min-width: 120px;
  cursor: pointer;
}
main .right .form-wrapper form button:hover {
  background-color: rgba(0, 98, 65, 0.1);
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
  width: 100%;
  box-shadow: -1px 0 2px rgba(0, 0, 0, 0.2);
}
footer .link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .link a {
  text-decoration: none;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: 600;
  border-bottom: transparent 1px solid;
  color: #000000;
  transition: 350ms ease-in-out;
  -webkit-transition: 350ms ease-in-out;
  -moz-transition: 350ms ease-in-out;
}
footer .link a :hover {
  color: #006241;
  border-bottom: 1px solid #006241;
}
footer .center {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .center h2 {
  font-size: 24px;
  color: #006241;
}
footer .equipo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin: 20px 0;
}
footer .equipo a {
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
